
:root {
  --primary-color: #6070ff;
  --paragraph-color: #344563;
  --white-bg-color: #fff;
  --enabled-btn-color: #7f8cff;
  --border-gray-color: #dfe1e6;
  --active-btn-color: #2230d2;
  --disabled-btn-color: #5e6c84;
  --header-color: #47174d;
}

.body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  overflow-x: hidden;
}

.hamburger {
  display: block;
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
}

.hamburger.active {
  margin-right: 35px;
  float: right;
  margin-top: 18px;
}

.bar {
  display: block;
  background-color: #6070ff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.headline.active {
  filter: blur(4px);
  background-color: white;
}

.hamburger.active .bar:first-child {
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--white-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: none;
  list-style: none;
  justify-content: space-between;
  overflow-x: hidden;
}

.nav-menu img {
  width: 76px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 10;
}

.nav-menu:last-child {
  width: 63px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  color: #6070ff;
  text-decoration: none;
}

.mobile-navbar {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.mobile-navbar.active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  z-index: 1;
}

.mobile-nav-menu {
  display: none;
}

.mobile-navbar.active .mobile-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: space-between;
  margin-top: 60px;
}

.mobile-nav-link a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.body.active {
  overflow-y: hidden;
}

.skill-projects-item-one p {
  width: 327px;
  height: 72px;
  gap: 200px;
}

.skill-projects-item-two p {
  width: 327px;
  height: 72px;
  gap: 260px;
}

.project-details-two p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.project-one-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.languages-dropdown-bar p {
  gap: 200px;
}

.header-background {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
}

.headline {
  background-image: url('./images/header-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.headline-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-content div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.headline-content div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  width: 327px;
  height: 146px;
  color: #344563;
}

.lets-connect {
  width: 160px;
  height: 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  gap: 15px;
}

.social-media-links {
  width: 170.17px;
  height: 20px;
  order: 3;
  flex-grow: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  left: 24px;
  top: 470px;
  border-radius: 0;
}

.social-media-links li {
  justify-content: flex-start;
  margin-right: 20px;
}

.works-skills {
  row-gap: 20px;
  width: 395px;
  height: 4088px;
}

.works {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  height: 3088px;
  gap: 60px;
  width: 375px;
  left: calc(100% - 375px / 4);
}

.works-top-one {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}

.works-one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 650px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-one {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-one-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-one-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-one-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.project-details-one {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-one li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-one :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-one :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7a869a;
  min-width: 88px;
}

.project-details-one :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.languages-works-one {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.languages-works-one li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.project-link-one {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-two {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 690px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-two {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-two-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-two-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-two-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.project-details-two {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-two li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-two :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-two :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7a869a;
  min-width: 88px;
}

.project-details-two :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.languages-works-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.languages-works-two li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.project-link-two {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-three {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 650px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-three {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-three-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-three-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-three-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.project-details-three {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-three li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-three :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-three :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7a869a;
  min-width: 88px;
}

.project-details-three :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.languages-works-three {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.languages-works-three li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.project-link-three {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-four {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 670px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-four {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-four-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-four-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-four-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.project-details-four {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-four li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-four :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-four :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7a869a;
  min-width: 88px;
}

.project-details-four :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.languages-works-four {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.languages-works-four li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.project-link-four {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  left: calc(50% - 375px / 2);
  top: 3506px;
}

.about-me {
  height: 409px;
  width: 375px;
  left: 375px;
  border-radius: [object object]px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.about-me div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me div h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.about-me div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lets-connect-two {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  left: 0;
}

.social-media li {
  margin-right: 20px;
}

.skill-section-items ul li p {
  width: 327px;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 12px;
  right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.button {
  width: 124px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border: 1px solid #6070FF;
  border-radius: 8px;
}

.button span {
  transition: 0.5s;
  width: 148px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-resume {
  width: 162px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  background-color: white;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-resume span {
  transition: 0.5s;
  width: 148px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill-items ul li span {
  left: 76px;
  right: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #253858;
  width: 215px;
  gap: 20px;
}

.button:hover span {
  padding-right: 25px;
}

.button-resume:hover span {
  padding-right: 25px;
}

.skill-section-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-section-items ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 348px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages-dropdown-bar {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.forms li {
  list-style: none;
  margin: 30px;
}

.skill-items ul {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 320px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-items ul li {
  width: 303px;
  height: 66px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f7f7f9;
  margin-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/contact-form.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 265px 809px;
  background-color: #6070ff;
  width: 100%;
  height: 800px;
  margin-top: 140px;
  border: 1px solid #172b4d ;
}

.form-sections {
  list-style: none;
  row-gap: 8px;
}

.form h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.form-sections:last-child {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  width: 327px;
  height: 170px;
}

.form p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

input[type="text"] {
  height: 48px;
  width: 327px;
  border-radius: 8px;
}

input[type="email"] {
  height: 48px;
  width: 327px;
  border-radius: 8px;
}

.but {
  width: 140px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: white;
}

.but:hover {
  padding-right: 25px;
}

.textarea {
  height: 170px;
  width: 327px;
}
