:root {
  --primary-color: #6070ff;
  --paragraph-color: #344563;
  --white-bg-color: #fff;
  --enabled-btn-color: #7f8cff;
  --border-gray-color: #dfe1e6;
  --active-btn-color: #2230d2;
  --disabled-btn-color: #5e6c84;
  --header-color: #47174d;
}

.body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  overflow-x: hidden;
}

.headline.active {
  filter: blur(4px);
  background-color: white;
}

.navigation {
  display: flex;
  width: 100%;
  height: 5.5rem;
  justify-content: space-between;
  left: calc(50%-375/2);
  justify-content: space-between;
}

.mobile-nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  overflow-x: hidden;
}

.logo {
  width: 18px;
  height: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  color: #6070ff;
  text-decoration: none;
  flex-grow: 0;
  align-items: center;
  text-align: center;
}

.mobile-navbar {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.mobile-navbar.active {
  display: block;
  position: fixed;
  width: 100%;
  background-color: blueviolet;
}

.mobile-navbar.active .mobile-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: 60px;
}

.mobile-nav-link a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.menu-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 20px;
  right: 4px;
  top: calc(10% - 40px/2);
  border-radius: 8px
}

.body.active {
  overflow-y: hidden;
}

.skill-projects-item p {
  width: 100%;
  height: 72px;
  gap: 200px;
}

.project-details p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.project-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.languages-dropdown-bar p {
  gap: 200px;
}

.header-background {
  width: 100%;
  height: 568px;
  left: 0;
  top: 0;
  background: #fff;
}

.headline {
  background-image: url('./images/header-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  align-items: center;
}

.headline-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.headline-content div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  width: 100%;
}

.headline-content div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
  height: 146px;
  color: #344563;
}

.lets-connect {
  width: 100%;
  height: 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  gap: 15px;
}

.social-media-links {
  height: 20px;
  order: 3;
  flex-grow: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  left: 24px;
  top: 470px;
  border-radius: 0;
  width: 100%;
}

.social-media-links li {
  justify-content: flex-start;
  margin-right: 20px;
}

.works-skills {
  row-gap: 20px;
  width: 100%;
  height: 4088px;
}

.works {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  height: 3088px;
  gap: 20px;
  width: 100%;
  left: calc(100% - 375px / 4);
}

.works-top {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  width: 100%;
}

.works-project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 690px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-project-one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 690px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-one {
  height: 220px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.snapshoot-two {
  height: 220px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.snapshoot-three {
  height: 220px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.snapshoot-four {
  height: 220px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.project-info {
  height: 260px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.project-details {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 32px;
}

.project-details li {
  margin-right: 20px;
  justify-content: left;
}

.project-details :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7a869a;
  min-width: 88px;
}

.project-details :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.languages {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 100%;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  left: calc(50% - 375px / 2);
  top: 3506px;
}

.about-me {
  height: 409px;
  width: 100%;
  left: 375px;
  border-radius: [object object]px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  justify-content: center;
}

.about-me div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me div h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.about-me div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.skill-section-items ul li p {
  width: 100%;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 12px;
  right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  transition: all 0.5s;
  border: 1px solid #6070ff;
  background-color: white;
  width: 152px;
  height: 48px;
}

.button span {
  transition: 0.5s;
  width: 148px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill-items ul li span {
  left: 76px;
  right: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #253858;
  width: 100%;
  gap: 20px;
}

.button:hover span {
  padding-right: 25px;
}

.skill-section-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-section-items ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 100%;
  height: 348px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages-dropdown-bar {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill-items ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-items ul li {
  width: 100%;
  height: 66px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f7f7f9;
  margin-bottom: 8px;
}

@media  screen and (min-width:768px)  {
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 260px;
  }

  .works-skills {
    row-gap: 10px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 42px;
    position: absolute;
    max-width: 1440px;
    max-height: 2194px;
    left: 0px;
  }

  .works-project {
    display: flex;
    flex-direction: row;
    max-width: 1156px;
    max-height: 496px;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
  }

  .mobile-nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    overflow-x: visible;
  }

  .menu-button {
    display: none;
  }

  .snapshoot-one {
    height: 448px;
    width: 100%;
    left: 16px;
    top: 16px;
    border-radius: 8px;
    background-image: url("./images/snapshoot-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .snapshoot-two {
    height: 448px;
    width: 100%;
    left: 16px;
    top: 16px;
    border-radius: 8px;
    background-image: url("./images/SnapshootPortfolio3.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

.snapshoot-three {
  height: 448px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.snapshoot-four {
  height: 448px;
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  background-image: url("./images/SnapshootPortfolio2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

  .works-top {
    background-size: 544px 448px;
  }

  .project-info {
    width: 544px;
    height: 448px;
  }

  .about-me-skills {
    display: flex;
    flex-direction: row;
    max-width: 1156px;
    max-height: 496px;
    left: 142px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
  }

  .works-project-one {
    max-width: 1156px;
    max-height: 496px;
    flex-direction: row-reverse;
  }

  .logo {
    display: flex;
    width: 76px;
    height: 20px;
  }

  .mobile-nav-menu {
    overflow-x: visible;
  }
}
