:root {
  --primary-color: #6070ff;
  --paragraph-color: #344563;
  --white-bg-color: #fff;
  --enabled-btn-color: #7f8cff;
  --border-gray-color: #dfe1e6;
  --active-btn-color: #2230d2;
  --disabled-btn-color: #5e6c84;
  --header-color: #47174d;
}

.body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  overflow-x: hidden;
}

.hamburger {
  display: block;
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
}

.hamburger.active {
  margin-right: 35px;
  float: right;
  margin-top: 18px;
}

.bar {
  display: block;
  background-color: #6070ff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.headline.active {
  filter: blur(4px);
  background-color: white;
}

.hamburger.active .bar:first-child {
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--white-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: none;
  list-style: none;
  justify-content: space-between;
  overflow-x: hidden;
}

.nav-menu img {
  width: 76px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 10;
}

.nav-menu:last-child {
  width: 63px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  color: #6070ff;
  text-decoration: none;
}

.mobile-navbar {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.mobile-navbar.active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  z-index: 1;
}

.mobile-nav-menu {
  display: none;
}

.mobile-navbar.active .mobile-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: space-between;
  margin-top: 60px;
}

.mobile-nav-link a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.body.active {
  overflow-y: hidden;
}

.project-details-two p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.project-one-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.header-background{
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

.headline {
  background-image: url('./images/header-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.headline-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline-content div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.headline-content div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  width: 327px;
  height: 146px;
  color: #344563;

}

.lets-connect {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.social-media-links {
  width: 170.17px;
  height: 20px;
  order: 3;
  flex-grow: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  left: 24px;
  top: 470px;
  border-radius: 0px;

}

.social-media-links li {
  justify-content: flex-start;
  margin-right: 20px;
}

.works-skills {
  row-gap: 80px;
  width: 395px;
  height: 4088px;
}

.works {
  display: grid;
  justify-content: flex-start;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  height: 3088px;
  gap: 88px;
  width: 375px;
}

.works-top-one {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}

.works-one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 690px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-one {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-one-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-one-info h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.project-one-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.project-details-one {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-one li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-one :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-one :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7A869A;
  min-width: 88px;
}

.project-details-one :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7A869A;
}

.languages-works-one {
  list-style: none; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
}

.languages-works-one li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.project-link-one {
  width: 100px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-one h6 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;
width: 124px;
height: 48px;
background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;
}

.works-two {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 720px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-two {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-two-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-two-info h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.project-two-info div p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.project-details-two {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-two li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-two :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-two :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7A869A;
  min-width: 88px;
}

.project-details-two :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7A869A;
}

.languages-works-two {
  list-style: none; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
}

.languages-works-two li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.project-link-two {
  width: 100px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-two h6 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;
width: 124px;
height: 48px;
background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;
}

.works-three {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 690px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-three {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-three-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-three-info h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.project-three-info div p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.project-details-three {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-three li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-three :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-three :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7A869A;
  min-width: 88px;
}

.project-details-three :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7A869A;
}

.languages-works-three {
  list-style: none; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
}

.languages-works-three li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.project-link-three {
  width: 100px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-three h6 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;
width: 124px;
height: 48px;
background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;
}

.works-four {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 720px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-four {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-four-info {
  height: 260px;
  width: 295px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-four-info h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.project-four-info div p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.project-details-four {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.project-details-four li {
  margin-right: 20px;
  justify-content: left;
}

.project-details-four :first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
}

.project-details-four :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #7A869A;
  min-width: 88px;
}

.project-details-four :last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7A869A;
}

.languages-works-four {
  list-style: none; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
}

.languages-works-four li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.project-link-four {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-four h6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.about-me-skills {
  width: 375px;
  height: 1000px;
}
.about-me {
  height: 409px;
  width: 375px;
  left: 375px;
  border-radius: [object Object]px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #FFFFFF;
}

.about-me div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me div h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.about-me div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lets-connect-two {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  left: 0;
}

.social-media li {
  margin-right: 20px;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396DF2;
  transition: all 0.5s;
  border: 1px solid #6070FF;
  background-color: white;
  width: 162px;
  height: 48px;
  }
  
  .button span {
    transition: 0.5s;
    width: 148px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396DF2;
    flex: none;
    order: 0;
    flex-grow: 0;
}
  
  .button:hover span {
    padding-right: 25px;
  }

  .skill-section-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 327px;
    height: 464.15px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.skill-section-items ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 348px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-section-items ul li p {
  width: 327px;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 12px;
  right: 78px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.languages-dropdown-bar {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages-dropdown-bar p {
  gap: 200px;
}

.skill-items ul {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 320px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-items ul li {
  width: 303px;
  height: 66px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f7f7f9;
  margin-bottom: 8px;
}

.skill-items ul li span {
  left: 76px;
  right: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #253858;
  width: 215px;
  gap: 20px;
}

.skill-projects-item-one p {
  width: 327px;
  height: 72px;
  gap: 200px;
}

.skill-projects-item-two p {
  width: 327px;
  height: 72px;
  gap: 260px;
}
